.chat-main
  .chat-main__group-info
    .group-box
      .group-box__name
        test
      .group-box__member
        member:name
    .edit-btn
      = link_to "#", class: "edit-btn__link" do
        .edit-btn__block
          Edit
  .chat-main__message-list
    .message
      .message__name
        .message__name__box
          name
        .message__name__time
          2019/12/4(Wed) 13:30:00
      .message__text
        こんにちは
    .message
      .message__name
        .message__name__box
          name
        .message__name__time
          2019/12/4(Wed) 13:30:00
      .message__text
        hello
    .message
      .message__name
        .message__name__box
          name
        .message__name__time
          2019/12/4(Wed) 13:30:00
      .message__text
        おはよう
  .chat-main__message-form
    .input  
      .input__box
        %input{type: "text", class: "input__box__text__form"}
          .input__box__image
            %label.input__box__image__link
              = icon('fas', 'image', class: "input__box__image__icon")
              %input{type: "file", class: "input__box__image__btn"}
      %label.input__submit-btn__link
        .input__submit-btn
          Send
          %input{type: "submit", class: "input__submit-btn__link__a", value: "Send"}